h1{
    background-color: blue;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
p{
    background-color: gray;
    color: black;
}
h3{
    background-color: brown;
    color: white;
}